In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/input/IMDB-Movie-Data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [3]:
def movie_votes(votes):
    if 0 < votes <= 999:
        return 1
    elif 999 < votes <= 9999:
        return 2
    elif 9999 < votes <= 99999:
        return 3
    elif 99999 < votes <= 999999:
        return 4
    elif 999999 < votes:
        return 5

In [4]:
df['bins'] = df.apply(lambda x : movie_votes( x['Votes']), axis=1)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3

In [5]:
df['Rev_Mins'] = df['Revenue (Millions)']/df['Runtime (Minutes)']
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4,2.753140
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4,1.019839
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4,1.180513
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,2.502963
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,2.642439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747

In [6]:
#Challenge 3
#We want to create a new ranking where we add 1 point if the genre is thriller 
#but subtract 1 point if the genre is comedy.

def new_rating(Genre,Rating):
    if 'Thriller' in Genre:
        return (Rating+1)
    elif 'Comedy' in Genre:
        return (Rating-1)
    else:
        return Rating

In [7]:
df['new_rating'] = df.apply(lambda x: new_rating(x['Genre'],x['Rating']),axis=1)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4,2.753140,8.1
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4,1.019839,7.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4,1.180513,8.3
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,2.502963,6.2
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,2.642439,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN,6.2
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596,5.5
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939,6.2
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN,4.6
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747,4.3

In [8]:
df[['Genre', 'Rating','new_rating']]

                        Genre  Rating  new_rating
0     Action,Adventure,Sci-Fi     8.1         8.1
1    Adventure,Mystery,Sci-Fi     7.0         7.0
2             Horror,Thriller     7.3         8.3
3     Animation,Comedy,Family     7.2         6.2
4    Action,Adventure,Fantasy     6.2         6.2
..                        ...     ...         ...
995       Crime,Drama,Mystery     6.2         6.2
996                    Horror     5.5         5.5
997       Drama,Music,Romance     6.2         6.2
998          Adventure,Comedy     5.6         4.6
999     Comedy,Family,Fantasy     5.3         4.3

[1000 rows x 3 columns]

In [9]:
#Challenge 4
#We want to know if the sum of the ASCII value of every character of the movie title 
#divided by the number of votes retrieve a prime number
#...remember, prime numbers are integers.

In [10]:
#Primero averiguo la longitud del titulo
df['title_len'] = df['Title'].str.len()
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating,title_len
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4,2.753140,8.1,23
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4,1.019839,7.0,10
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4,1.180513,8.3,5
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,2.502963,6.2,4
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,2.642439,6.2,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN,6.2,20
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596,5.5,15
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939,6.2,22
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN,4.6,12
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747,4.3,10

In [11]:
#despuÃ©s lo dividimos entre el nÃºmero de votos
df['Title_votes'] = df['title_len']/df['Votes']
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating,title_len,Title_votes
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4,2.753140,8.1,23,0.000030
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4,1.019839,7.0,10,0.000021
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4,1.180513,8.3,5,0.000032
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,2.502963,6.2,4,0.000066
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,2.642439,6.2,13,0.000033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN,6.2,20,0.000725
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596,5.5,15,0.000205
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939,6.2,22,0.000311
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN,4.6,12,0.002459
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747,4.3,10,0.000804

In [12]:
#Revisamos si hay nÃºmeros primos
def isprime(n):
    n = abs(int(n))

    if n < 2:
        return False

    if n == 2: 
        return True    
    
    if not n & 1: 
        return False

    for x in range(3, int(n**0.5) + 1, 2):
        if n % x == 0:
            return False

    return True

df['Prime_Number'] = df['Title_votes'].apply(isprime)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating,title_len,Title_votes,Prime_Number
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,4,2.753140,8.1,23,0.000030,False
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,4,1.019839,7.0,10,0.000021,False
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,4,1.180513,8.3,5,0.000032,False
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,2.502963,6.2,4,0.000066,False
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,2.642439,6.2,13,0.000033,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,3,NaN,6.2,20,0.000725,False
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,3,0.186596,5.5,15,0.000205,False
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,3,0.591939,6.2,22,0.000311,False
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,2,NaN,4.6,12,0.002459,False
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,3,0.225747,4.3,10,0.000804,False

In [13]:
#Por Ãºltimo revisamos si hay nÃºmero primos pero todos devuelven falso
df['Prime_Number'].unique()

array([False])

In [14]:
#Feel free to propose your own ranking based in aggregations of at least 3 columns of the dataset.

In [15]:
df['Year'].unique().max()

2016

In [16]:
df['Votes'].unique()

array([ 757074,  485820,  157606,   60545,  393727,   56036,  258682,
          2490,    7188,  192177,  232072,   93103,  323118,  118151,
          8612,  120259,  211760,  150823,  102061,  340798,   19053,
        134213,    1115,   38552,  127553,     222,   76193,     523,
         66540,  112813,   48123,  126030,  275510,  627797,   46165,
        411656, 1047747,  293732,  122853,     241,  120690,  135095,
           496,   37033,     279,  395025,   17818,    5103,  164567,
           987,  661608,   41362,   20221,  321933, 1791916,   49190,
        121103,  113322,    3739,  137608,  472307,   35870,  102177,
        244474,  913152,  440209,   39784,  632842,     291,   89849,
        149791,   78079,   39134,   43977,  296853,  498821, 1045588,
        959065,  552027,  147717, 1583625,  105081,  865134,  636243,
        301249,  455169,   27869,  935408,  341170,  162122,  431185,
        187547,  342429,  106463,  516895,  175067,   34110,    9247,
         10181,  937414,  108836,  570814,  556097,    7204,  202973,
        115546,    1954,  117590,    1004,  339797,    3712,  486338,
           512,  637104,  590595,   30761,   50359,   48969,  192968,
        157026,  101058,  362093,   53183,   10428, 1222645,  198243,
        255483,   69651,  153481,  499424,   50953,  109756,   78328,
        477276,  318051,  200090,  660286,  386102,  855604,   13004,
        526324,   34184,  246360,  224132, 1039115,   33418,   47694,
        410249,  442082,   97623,   50853,  735604,    4299,  243230,
          1973,   97618,  400519,  396714,  291457,  373244,    5926,
          6946,  552298,   78043,  495106,  361449,  156567,   39723,
         76935,  308981,  332476,   72778,    2127,  390531,  451894,
        143069,  337777,  321442,  137203,  368912,   43086,  101781,
        117018,    1176,   22389,   24003,   11944,   97454,  461509,
        106364,   27382,    1445,  268282,   22107,  355722,  547368,
          3799,  459304,  532353,   97082,  471815,   12193,   79855,
        737719,   70504,  550011,    5435,   26089,  227912,   23713,
        161396,  114290,  531112,   54679,  443584,   73568,  542362,
          7044,    1703,  456749,   61098,  283445,  136399,  348551,
        334867,   19660,  121313,  179450,  268877,    2382,  498879,
          3305,  247926,  257472,   66766,  377336,   41446,    4895,
        530881,   96852,  332234,  416689,    1109,  205365,  148949,
        257426,  382910,   14708,  188017,  557965,     178,   50946,
        139831,  342183,  330305,  611563,  210349,  422290,   69823,
           664,  440299,  581518,   21715,   90556,   59312,   53441,
         75137,  298651,  388447,    2384,  547386,  668651,  432046,
         52144,    4729,  410125,  280110,  329683,   36312,  591023,
        492324,  501769,  220236,  110773,  122838,  204874,   30405,
        150121,   26508,     726,   58782,  226631,   76327,      96,
        577010,   20514,   34523,  302268,   43929,  400682,  249425,
        218996,  295554,   67033,  105619,   69509,   57207,     403,
        193479,   59886,  237221,  103150,  132580,  385598,  385325,
        199048,   73093,    1263,   81429,  300803,   95960,     616,
        203096,  319025,  510100,   71149,   37975,   12643,   62885,
         43085,   34248,  353305,  352801,  207497,  339722,   18201,
        564364,     115,  271301,   93764,  217464,  452369,  173320,
         36322,  406219,   92329,  220664,  379088,   96617,  320323,
          1396,   97679,   33352,   45579,  171970,   59958,    5496,
        299718,  327838,  221600,  223065,   14248,  417663,  409403,
         89059,  677044,  194329,     286,  474320,   28326,     702,
        335531,   38430,  312495,   31776,    7583,  135706,  175673,
         61812,  137568,   84016,  169083,   45867,  217938,  266508,
        154647,  101092,  221117,  355362,  220667,   31913,   31194,
        116112,     102,  114482,  112288,  342355,   86417,   26587,
        113686,  159830,     240,   93972,  410607,   49041,   40529,
        226661,  316459,  202380,   74589,  502961,  108306,  252119,
         35417,   48161,   34546,     164,  202890,  357213,  155010,
        164208,    8914,   35003,  237887,  100702,  485075,  122185,
        525700,   43648,   54216,  238789,   48297,  494819,  382459,
           223,   81301,   58421,  156189,  214825,     220,  181521,
         94977,  156620,  151409,    4531,  184152,  213764,   52331,
        309186,  113272,  556666,   58720,  126656,  214994,  202682,
        192263,  241709,   95119,  182069,  159736,  294553,   51235,
          8229,  187760,   57602,  357436,  255813,  111558,  556794,
        199900,  337835,   83941,  297984,  351059,  481274,   56332,
        278103,    8404,      61,   41642,  226619,   93799,   48400,
         17584,   55781,  254446,  102954,   84765,  166489,  504039,
         36091,  241359,  313803,   44553,   94707,  565721,  278379,
        298913,  228339,  722203,  159364,   77995,   27428,   52636,
        166872,  107960,  398972,   83625,  622089,  144614,  267820,
        170897,   47289,   42506,  294950,  137299,  188769,  513744,
          1356,   24100,   84927,    1830,   36156,   36043,     552,
        358932,   26461,  318058,  245374,   74674,   12758,  253858,
        352698,    1024,  143389,  250811,   24761,     198,    7115,
        137964,  444417,   27042,  177247,    4912,   54787,   10485,
        324898,     391,   22941,  106381,   17141,  121847,    9187,
         30074,   30180,   96688,  148504,   90372,  115355,  283282,
        133113,  171169,  290559,  239772,   47804,  338369,  432461,
         26521,   68654,  110825,  150353,  159582,  374044,   11900,
        238206,   44425,  273959,  525646,   44158,    6809,  125129,
         89885,   60059,  297395,  190673,  114006,  142900,  199860,
        293941,  182074,   25208,  116118,  122864,   68306,   97141,
         84083,   63408,  277123,  183926,  181432,   40357,  137684,
         89791,    1630,     338,  116435,  368556,   33560,  216932,
         71822,   24387,  130702,  143564,  199973,   21089,     277,
         29895,   30053,  249877,   66400,  127157,   94069,   78631,
        144715,  210965,  406540,    7181,   10700,   74886,  151519,
        261536,   73491,    6683,  776897,  309398,  404884,  195360,
         50402,  178471,  361105,  110100,   31149,    4304,    3564,
        595779,   76469,     173,   27006,   44111,  296289,   36300,
        219916,   30875,     482,  240323,  286722,  178527,  198006,
          2798,  267872,   54027,  206707,  140151,    5796,   75291,
         26320,  136323,  168875,  422014,   15514,   47703,  352023,
        231907,    9285,  233346,  188004,   80415,   57874,    2403,
        331902,  104953,   16164,  112313,  245144,  534388,   54486,
        252503,  586669,  157053,  114144,   23540,   10708,   90188,
        471109,  177602,   19636,   86271,  347567,    1427,   73835,
        494641,  250012,  106115,   83788,    4754,  208632,    5908,
        146812,   18437,  335757,   11482,   50388,   92863,   74664,
        141141,   64557,   96718,  209700,  236500,   65824,   95553,
        190385,   26088,  127983,  209326,  286543,  309934,  219116,
         71069,  166342,  201707,     688,  338280,   16163,  259182,
          4155,  182305,   17439,  124554,   29642,    8998,  144524,
        254904,   25903,  144779,     313,    3731,   30035,   91684,
        148943,   92875,  322536,  154400,     353,  187302,    2083,
           256,   84893,  290056,   91229,  151970,   57826,  156158,
        154588,  103279,  194236,  351361,   72515,   25928,  347798,
          2043,  523893,   82701,  199193,  110490,   10871,    9026,
           499,   29912,  218679,   67196,  128146,    1031,   31370,
        346154,     378,   11555,   69157,  366138,   50241,   92868,
        154936,    4370,  129252,  178243,   87887,  304837,   93883,
        199813,    7091,  196652,  146566,  103681,  221073,   52537,
        233148,  115751,    4771,    4964,   19309,  142560,  153448,
         72050,  149779,  285441,    8755,  294010,   91106,     564,
         13711,  130153,  180105,    5855,    4779,    5715,    1391,
        160350,   77207,  171356,   16917,   67464,   62719,  225394,
         38804,    5531,  163144,    8409,     346,  125190,   15232,
        137117,   95480,  157499,  276347,   77447,   77986,    1066,
         69659,  198395,  111875,   88829,  208770,  329788,    9993,
        297093,   55648,  136642,  206793,  119376,    2421,   32310,
        100890,    6175,   61060,    7402,   20907,   20194,  270429,
         21569,   59512,   64584,  113599,  101301,  221858,  193579,
        160592,  152145,  159230,    8365,  125693,  184564,  173919,
         16361,  253417,  143517,   82874,   75262,  281625,     202,
        108156,  264480,  102547,  187077,  174553,   61274,   93036,
        172558,   83976,   27730,  118905,   55243,  237565,  190833,
          1455,   12361,  269581,   64351,  187004,   17565,    4204,
        117297,   66265,   33007,   17962,  257395,   19351,  199387,
        155078,   67801,   31651,  152808,   57921,  246797,  190244,
         91623,    7475,    3843,  112902,   39380,   92170,     924,
          2205,    4669,  137502,   60655,   64535,   14689,  279694,
         50255,  192740,    1292,   62095,  132098,   72533,   93322,
          3990,  166512,    2417,   92076,  211348,   62403,   65653,
        173731,   81823,   84158,  192190,   73567,  271940,   10220,
         88260,   60133,     280,   44227,    1810,   92378,    1210,
        190855,   37060,  193491,   64513,  108544,    6753,   20966,
         31634,    2229,   10658,  108772,   12048,   27312,   95172,
        112729,   21405,   87904,   88000,   33688,   63785,   67637,
        129708,  102697,   45419,  140900,  164088,   27585,   73152,
         70699,    4881,   12435], dtype=int64)

In [17]:
df['Votes'].unique().max()

1791916

In [18]:
df['Votes'].unique().min()

61

In [56]:
#Selecciono solo las peliculas de 2016 
#Elimino aquellas que no tengan valor de revenue
#y que me enseÃ±e el top 10 de mayor puntuaciÃ³n 
#siempre y cuando tengan mÃ¡s de 50k votos (resuelto en la siguiente celda)

df2 = df.loc[df['Year'] == 2016]
df3 = df2.dropna(subset=['Revenue (Millions)'])
df3.sort_values('Rating', ascending=False).head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating,title_len,Title_votes,Prime_Number
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN,3,0.069255,8.8,6,0.000123,False
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Nari...",2016,106,8.6,34110,4.68,79.0,3,0.044151,8.6,13,0.000381,False
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0,4,1.180156,7.3,10,0.000039,False
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0,4,0.482878,8.2,13,0.000061,False
145,146,Ah-ga-ssi,"Drama,Mystery,Romance",A woman is hired as a handmaiden to a Japanese...,Chan-wook Park,"Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...",2016,144,8.1,33418,2.01,84.0,3,0.013958,8.1,9,0.000269,False
74,75,Zootopia,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,341.26,78.0,4,3.159815,7.1,8,0.000027,False
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0,4,0.438051,8.1,4,0.000039,False
273,274,Sing Street,"Comedy,Drama,Music",A boy growing up in Dublin during the 1980s es...,John Carney,"Ferdia Walsh-Peelo, Aidan Gillen, Maria Doyle ...",2016,106,8.0,52144,3.23,79.0,3,0.030472,7.0,11,0.000211,False
184,185,Forushande,"Drama,Thriller","While both participating in a production of ""D...",Asghar Farhadi,"Taraneh Alidoosti, Shahab Hosseini, Babak Kari...",2016,124,8.0,22389,3.40,85.0,3,0.027419,9.0,10,0.000447,False
33,34,Deadpool,"Action,Adventure,Comedy",A fast-talking mercenary with a morbid sense o...,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller, E...",2016,108,8.0,627797,363.02,65.0,4,3.361296,7.0,8,0.000013,False

In [57]:
df4 = df3.sort_values('Rating', ascending=False).head(10)
df4.loc[(df4['Votes'] > 10000)]

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bins,Rev_Mins,new_rating,title_len,Title_votes,Prime_Number
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969,11.15,NaN,3,0.069255,8.8,6,0.000123,False
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"RyÃ»nosuke Kamiki, Mone Kamishiraishi, RyÃ´ Nari...",2016,106,8.6,34110,4.68,79.0,3,0.044151,8.6,13,0.000381,False
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0,4,1.180156,7.3,10,0.000039,False
16,17,Hacksaw Ridge,"Biography,Drama,History","WWII American Army Medic Desmond T. Doss, who ...",Mel Gibson,"Andrew Garfield, Sam Worthington, Luke Bracey,...",2016,139,8.2,211760,67.12,71.0,4,0.482878,8.2,13,0.000061,False
145,146,Ah-ga-ssi,"Drama,Mystery,Romance",A woman is hired as a handmaiden to a Japanese...,Chan-wook Park,"Min-hee Kim, Jung-woo Ha, Jin-woong Jo, So-ri ...",2016,144,8.1,33418,2.01,84.0,3,0.013958,8.1,9,0.000269,False
74,75,Zootopia,"Animation,Adventure,Comedy","In a city of anthropomorphic animals, a rookie...",Byron Howard,"Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",2016,108,8.1,296853,341.26,78.0,4,3.159815,7.1,8,0.000027,False
18,19,Lion,"Biography,Drama",A five-year-old Indian boy gets lost on the st...,Garth Davis,"Dev Patel, Nicole Kidman, Rooney Mara, Sunny P...",2016,118,8.1,102061,51.69,69.0,4,0.438051,8.1,4,0.000039,False
273,274,Sing Street,"Comedy,Drama,Music",A boy growing up in Dublin during the 1980s es...,John Carney,"Ferdia Walsh-Peelo, Aidan Gillen, Maria Doyle ...",2016,106,8.0,52144,3.23,79.0,3,0.030472,7.0,11,0.000211,False
184,185,Forushande,"Drama,Thriller","While both participating in a production of ""D...",Asghar Farhadi,"Taraneh Alidoosti, Shahab Hosseini, Babak Kari...",2016,124,8.0,22389,3.40,85.0,3,0.027419,9.0,10,0.000447,False
33,34,Deadpool,"Action,Adventure,Comedy",A fast-talking mercenary with a morbid sense o...,Tim Miller,"Ryan Reynolds, Morena Baccarin, T.J. Miller, E...",2016,108,8.0,627797,363.02,65.0,4,3.361296,7.0,8,0.000013,False